* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  cursor: pointer;
}
.container {
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  min-width: 325px;
  max-width: 830px;
  margin-inline: 50px;
}
.alert-title {
  letter-spacing: 1px;
  margin: 10px;
  margin-top: 15px;
  margin-left: 30px;
}
.alert-content {
  margin: 15px;
  font-size: 17px;
}
.agree {
  text-align: center;
  margin-bottom: 10px;
}
.agree-btn {
  padding-inline: 20px;
  padding-block: 7px;
  margin-inline: 2px;
  border-radius: 7px;
  font-weight: 600;
}
#close {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 10px;
  width: 10px;
}

#accept:hover {
  background-color: rgba(81, 255, 0, 0.692);
}

#reject:hover {
  background-color: rgba(255, 51, 0, 0.781);
}
